<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" /> <!-- Deny users without windows auth-->
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    
    <defaultDocument>
      <files>
        <add value="Pages/Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <!-- PROD Server -->
    <!--<add name="HelpDesk_DB" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINETINSPRD01;initial catalog=PRD_Corp_HelpDesk_Apps;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->

    <!-- DEV Server -->
    <add name="HelpDesk_DB" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINETINSDEV01;initial catalog=DV_Corp_HelpDesk_Projects;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>